.Section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .ImageListWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px;
    margin-left: auto;

    img {
      margin-bottom: 0;
    }
  }

  .Image {
    display: block;
    width: 100%;
    height: 30px !important;

    &:not(:first-child) {
      margin-left: 15px;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .Image {
      margin: 0 10px !important;
    }
  }
}
