.Section {
  .TitleContainer {
    background: #251140;

    h2 {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 32px;
      color: #ffffff;
    }
  }

  .ImageListWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  .Image {
    display: block;
    width: 100%;
    height: auto;

    &:not(:first-child) {
      margin-left: 15px;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .Section {
    .ImageListWrapper {
      flex-direction: column;
    }

    .Image {
      margin: 0 0 50px 0 !important;
    }
  }
}
