.Section {
  .Content {
    max-width: 740px;
    margin: 0 auto;
    font-size: 18px;
  }

  .ColContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;

    //center button
    a {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .Text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }

  .Overlay {
    position: absolute;
    z-index: 2;
    background: rgba(36, 17, 63, 0.33);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .Section {
    .ColContainer {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }

    .Text {
      font-size: 16px;
    }
  }
}
